<ul class="list-unstyled m-3">
  <li><h5><%= @restaurant.name%></h5></li>
  <li>Address: <%= @restaurant.address%></li>
  <li>Phone Number: <%= @restaurant.phone_number%></li>
  <li>Category: <%= @restaurant.category.capitalize%></li>
</ul>

<%= link_to "Home", root_path %>
